*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.cache
.idea

SUU.ScalaTasks/project/target/
SUU.ScalaTasks/target/
SUU.ScalaTasks/target/scala-2.13/classes/
